@model Patrimonio.Models.DbLocal

@{
     Layout = "_LayoutLocal";
    ViewData["Locais"] = "Create";
}

<hr />

        <form asp-action="Create">
                <div class="row justify-content-center" style="color:darkred">
            <div class="col-5">
               <div class="card" style="border-color:darkolivegreen">
            <div class="card-header text-center">
                <h2>Cadastro de locais</h2>
             </div>
             <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="nomelocal" class="form-control"  placeholder="Digite o nome"  />
                <span asp-validation-for="nomelocal" class="text-danger"></span>
            </div>
       <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="descricaolocal" class="form-control" placeholder="Digite a descrição"  />
                <span asp-validation-for="descricaolocal" class="text-danger"></span>
            </div>
                    <div class="card-footer md-2">
                         <input type="submit" value="cadastrar" class="btn btn-primary" />
                   </div>
               
           
             </div>
</div>
 </div>

        </form>
 <div>
    <a asp-action="Index"> <input type="submit" value="Voltar para a lista" class="btn btn-primary " ></a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
