@model Patrimonio.Models.DbLocal

@{
     Layout = "_LayoutLocal"; 
    ViewData["Locais"] = "Delete";
}

<h1>Deletar</h1>

<h3>Voce deseja deletar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomelocal)
        </dd>
        <dt class = "col-sm-2">
          Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaolocal)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="excluir" class="btn btn-danger" /> 
    </form>
</div>

<div>
    <a asp-action="Index"> <input type="submit" value="Volta pra a lista" class="btn btn-primary " ></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
