@model Patrimonio.Models.DtoDepartamento

@{
     Layout = "_LayoutDepartamento";
    ViewData["Departamentos"] = "Edit";
}

<hr />

        <form asp-action="Edit">
                    <div class="row justify-content-center" style="color:darkred">
            <div class="col-5">
               <div class="card" style="border-color:darkolivegreen">
            <div class="card-header text-center">
                <h2>Editar departamento</h2>
             </div>
            <input type="hidden" asp-for="id" />
            <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="nomedepartamento" class="form-control"  placeholder="Digite a nome " />
                <span asp-validation-for="nomedepartamento" class="text-danger"></span>
            </div>
            <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="descricaodepartamento" class="form-control" placeholder="Digite a descrição"  />
                <span asp-validation-for="descricaodepartamento" class="text-danger"></span>
            </div>
          <div class="card-body md-3" style="border-color:darkgoldenrod">
                 <select  asp-items=@ViewBag.local nome="nomelocal" asp-for="idlocal" 
                 class="form-control">  <option value="0">selecione o local</option></select>
                
                
            </div>
            <div class="card-footer md-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <div>
    <a asp-action="Index"> <input type="submit" value="Voltar para a lista" class="btn btn-primary" /></a>
</div>
            </div>
                </div>
</div>
    </div>

        </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
