@model Patrimonio.Models.DbFornecedor

@{
    Layout = "_layoutFornecedor";
    ViewData["Fornecedor"] = "Create";
}

<hr />

        <form asp-action="Create">
                 <div class="row justify-content-center" style="color:darkred">
            <div class="col-5">
               <div class="card" style="border-color:darkolivegreen">
            <div class="card-header text-center">
                <h2>Cadastro de fornecedor</h2>
             </div>
            <div class="card-body md-3" style="border-color:darkgoldenrod"> 
                <input asp-for="nomefornecedor" class="form-control"  placeholder="Digite o nome" />
                <span asp-validation-for="nomefornecedor" class="text-danger"></span>
            </div>
           <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="endereco" class="form-control"  placeholder="Digite o endereço" />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
           <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="fone" class="form-control"  placeholder="Digite o telefone" />
                <span asp-validation-for="fone" class="text-danger"></span>
            </div>
            <div class="card-footer md-2">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                
<div>
    <a asp-action="Index"> <input type="submit" value="Voltar para a lista" class="btn btn-primary " ></a>
</div>
            </div>
             </div>
</div>
 </div>

        </form>
   


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
