@model Patrimonio.Models.DbFornecedor

@{
     Layout = "_layoutFornecedor";
    ViewData["Fornecedor"] = "Edit";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
            
                <input asp-for="nomefornecedor" class="form-control" placeholder="Digite o nome"  />
                <span asp-validation-for="nomefornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="endereco" class="form-control" placeholder="Digite o endereço"  />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="fone" class="form-control" placeholder="Digite o telefone"  />
                <span asp-validation-for="fone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"> <input type="submit" value="Voltar para a lista" class="btn btn-primary " /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
