@model Patrimonio.Models.DbCategoria

@{
    Layout = "_layoutCategoria";
    ViewData["Categorias"] = "Details";
}

<h1>Detalhes</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaocategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaocategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id"><input type="submit" value="Editar" class="btn btn-primary " /></a> 
    <a asp-action="Index"> <input type="submit" value="Voltar para lista" class="btn btn-primary " /></a>
</div>
