@model Patrimonio.Models.DbCategoria



@{
    Layout = "_layoutCategoria";
    ViewData["Categorias"] = "Edit";
}


<hr />

        <form asp-action="Edit">
              <div class="row justify-content-center" style="color:darkred">
            <div class="col-5">
               <div class="card" style="border-color:darkolivegreen">
            <div class="card-header text-center">
                <h2>Editar categoria</h2>
             </div>
            <input type="hidden" asp-for="id" />
             <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="descricaocategoria" class="form-control"  placeholder="Digite a descrição" />
                <span asp-validation-for="descricaocategoria" class="text-danger"></span>
            </div>
            <div class="card-footer md-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
               
            </div>
       </div>
    </div>
</div>
</form>
 <div>
    <a asp-action="Index"> <input type="submit" value="Voltar para lista" class="btn btn-primary" ></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
