@model Patrimonio.Models.DbUsuario

@{
     Layout = "_LayoutUsuario";

    ViewData["Usuario"] = "Edit";
}



<hr />

        <form asp-action="Edit">
           <div class="row justify-content-center" style="color:darkred">
            <div class="col-5">
               <div class="card" style="border-color:darkolivegreen">
            <div class="card-header text-center">
                <h2>Editar usuario</h2>
             </div>
            <input type="hidden" asp-for="id" />
             <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="nome" class="form-control"  placeholder="Digite o nome" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="login" class="form-control" placeholder="Digite o login"  />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
             <div class="card-body md-3" style="border-color:darkgoldenrod">
                <input asp-for="senha" class="form-control" placeholder="Digite a senha"  />
                <span asp-validation-for="senha" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <div>
    <a asp-action="Index"> <input type="submit" value="Ir para lista" class="btn btn-primary " ></a>
</div>
            </div>
       </div>
    </div>
</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
