@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<div class="row" style="color:darkblue">
<div class="text-center">
    <h1 class="display-4">Desenvolvido por Leonardo Ecker</h1>
    
</div>
</div>