@model Patrimonio.Models.DbPatrimonio

@{
     Layout = "_LayoutPatrimonio";
    ViewData["Patrimonios"] = "Create";
}

<h1>Create</h1>

<h4>Cadastrar patrimonio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="nomepatrimonio" class="form-control"  placeholder="Digite a nome do patrimonio" />
                <span asp-validation-for="nomepatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="numeetiqueta" class="form-control"  placeholder="Digite a número da etiqueta" />
                <span asp-validation-for="numeetiqueta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="descricaopatrimonio" class="form-control"  placeholder="Digite a descrição do patrimonio" />
                <span asp-validation-for="descricaopatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">     
                <input asp-for="valorpatrimonio" class="form-control"  placeholder="Digite o valor do patrimonio" />
                <span asp-validation-for="valorpatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select  asp-items=@ViewBag.categoria nome="nomecategoria" asp-for="idcategoria"
                class="form-control" placeholder="Selecione a categoria"> </select>
            </div>
            <div class="form-group">
                <select  asp-items=@ViewBag.local nome="nomelocal" asp-for="idlocal"
                class="form-control" placeholder="Selecione o local"></select>
            </div>
             <div class="form-group">
                <select  asp-items=@ViewBag.fornecedor nome="nomefornecedor" asp-for="idfornecedor"
                class="form-control" placeholder="Selecione o fornecedor"></select>
            </div>
            <div class="form-group">
                <input asp-for="marcamodelo" class="form-control" placeholder="Digite a marca ou modelo" />
                <span asp-validation-for="marcamodelo" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input asp-for="situacao" class="form-control"  placeholder="Digite a situação"/>
                <span asp-validation-for="situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="numserie" class="form-control"  placeholder="Digite o número de serie"/>
                <span asp-validation-for="numserie" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input asp-for="numf" class="form-control" placeholder="Digite o número" />
                <span asp-validation-for="numf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="dataaquisicao" class="form-control"  placeholder="Digite a data da aquisição"/>
                <span asp-validation-for="dataaquisicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="databaixa" class="form-control"  placeholder="Digite a data da baixa" />
                <span asp-validation-for="databaixa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="datagarantia" class="form-control" placeholder="Digite a data da garantia" />
                <span asp-validation-for="datagarantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>.
     <a asp-action="Index"> <input type="submit" value="Voltar para a lista" class="btn btn-primary " ></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
